.img-cabin {
  border-radius: 5px !important;
  height: 250px !important;
  object-fit: cover;
}
.content-header {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.slick-next:before {
  color: var(--thm-color);
}
.slick-prev:before {
  color: var(--thm-color);
}
.cabin-container
{
  max-width: 100% !important;
}